.App {
  text-align: center;
}

body {
  background-color: #252422;
  color: #fffcf2;
  font-size: 15px;
  margin: 0;
  padding: 20px 0;
  scrollbar-color: #eb5e28;
}

ul li {
  display: inline;
  color: #fffcf2;
  list-style-type: none;
  margin: 5px;
  padding: 2px;
}

.header {
  color: #eb5e28;
  font-size: 50px;
}

.nav {
  text-align: right;
}

.footer {
  text-align: right;
}

a {
  color: #fffcf2;
}